In [1]:
!pip install -q -r requirements.txt

WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\viraj\anaconda3\envs\bprmls\Lib\site-packages)
WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\viraj\anaconda3\envs\bprmls\Lib\site-packages)
WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\viraj\anaconda3\envs\bprmls\Lib\site-packages)

In [16]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer 
from imblearn.over_sampling import SMOTE
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder

In [13]:
df= pd.read_csv('data/processed/ChurnModelling_Binning_Applied.csv')

In [14]:
df.head(5)

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Binned
0,France,Female,42.00,2,0.00,1,1,1,101348.88,1,fair
1,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,fair
2,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,poor
3,France,Female,38.91,1,0.00,2,0,0,93826.63,0,good
4,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0,excellent

### Build Pipeline